    }
        function hex(x) {
            return isNaN(x) ? "00" : hexDigits[(x - (x % 16)) / 16] + hexDigits[x % 16];
        }
        function getLoColor(c) {
            var lo = localStorage.getItem("colorLo") || c;
            if (lo) {
                var stLoc = localStorage.getItem("colorSt");
                var loJs = JSON.parse(lo);
                for (var i in loJs) {
                    $("." + i).val(loJs[i]);
                    switch (i) {
                        case "bgcolor":
                            if (loJs[i] === "000000") loJs[i] = rgb2hex($(".bg").css("background-color"));
                            break;
                        case "btcolor":
                            if (loJs[i] === "000000") loJs[i] = rgb2hex($(".label-primary, .btn-primary").css("background-color"));
                            break;
                        case "bocolor":
                            if (loJs[i] === "000000") loJs[i] = rgb2hex($(".border").css("border-color"));
                            break;
                        case "hicolor":
                            if (loJs[i] === "000000") loJs[i] = rgb2hex($(".light").css("background-color"));
                            break;
                    }
                }
                var aa =
                    '<style class="colorLo">.border{border-color: #' +
                    loJs.bocolor +
                    "!important;} .primaryborder{border-color: #" +
                    loJs.btcolor +
                    "!important;} .label-primary, .btn-primary {background-color: #" +
                    loJs.btcolor +
                    "!important;} .light{background-color: #" +
                    loJs.hicolor +
                    "!important;} .bg{background-color: #" +
                    loJs.bgcolor +
                    ";}</style>";
                if (stLoc && !c) aa = stLoc;
                localStorage.setItem("colorSt", aa);
                var loHtml = $(".colorLo");
                if (loHtml.length > 0) loHtml.text($(aa).text());
                else $("head").append(aa);
            } else {
                $(".colorLo").remove();
                $(".bgcolor,.btcolor,.hicolor,.bocolor").val("000000");
                $(".bgcolor,.btcolor,.hicolor,.bocolor").css("background-color", "#000000");
            }
        }
        function getLoColors(c) {
            var lo = c;
            if (lo) {
                var stLoc = localStorage.getItem("colorSt");
                var loJs = JSON.parse(lo);
                for (var i in loJs) {
                    $("." + i).val(loJs[i]);
                    switch (i) {
                        case "bgcolor":
                            if (loJs[i] === "000000") loJs[i] = rgb2hex($(".bg").css("background-color"));
                            break;
                        case "btcolor":
                            if (loJs[i] === "000000") loJs[i] = rgb2hex($(".label-primary, .btn-primary").css("background-color"));
                            break;
                        case "bocolor":
                            if (loJs[i] === "000000") loJs[i] = rgb2hex($(".border").css("border-color"));
                            break;
                        case "hicolor":
                            if (loJs[i] === "000000") loJs[i] = rgb2hex($(".light").css("background-color"));
                            break;
                    }
                }
                var aa =
                    '<style class="colorLo">.border{border-color: #' +
                    loJs.bocolor +
                    "!important;} .primaryborder{border-color: #" +
                    loJs.btcolor +
                    "!important;} .label-primary, .btn-primary {background-color: #" +
                    loJs.btcolor +
                    "!important;} .light{background-color: #" +
                    loJs.hicolor +
                    "!important;} .bg{background-color: #" +
                    loJs.bgcolor +
                    ";}</style>";
                if (stLoc && !c) aa = stLoc;
                localStorage.setItem("colorSt", aa);
                var loHtml = $(".colorLo");
                if (loHtml.length > 0) loHtml.text($(aa).text());
                else $("head").append(aa);
            } else {
                $(".colorLo").remove();
                $(".bgcolor,.btcolor,.hicolor,.bocolor").val("000000");
                $(".bgcolor,.btcolor,.hicolor,.bocolor").css("background-color", "#000000");
            }
        }

        getLoColor();
        $(".ssss").click(function (e) {
            e.stopPropagation();
            $(".divColorLo").slideToggle();
        });
